.lines {
  display: block;
}
.lines__line-mask {
  padding-bottom: 0.3em;
  margin-bottom: -0.3em;
}
.lines__line {
  will-change: transform;
}

.wordreveal {
  margin: 0;
}
.wordreveal__word {
  display: inline-block;
  white-space: pre;
}

.counter {
  font-variant-numeric: tabular-nums;
}
